* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background: #1e2d3b;
  min-height: 100vh;
}

.grey {
  color: #cecece;
}

.yellow {
  color: yellow;
}

.header-container {
  width: 85%;
  height: 70px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header {
  z-index: 5;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background: rgb(46, 58, 70);
}
header img {
  height: 100px;
  margin-top: 10px;
}

header .input-search {
  height: 40px;
  width: 300px;
  padding: 0 10px;
  vertical-align: middle;
  background-color: inherit;
  color: white;
  border-radius: 10px;
}

header .search, .searchBy, .filterBy {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  color: white;
}

.searchBy, .filterBy {
  gap: 10px;
  position: relative;
}

.searchBy .arrow-down:hover, .filterBy .arrow-down:hover {
  transform: scale(1.12)
}

.searchBy .order-by-list, .filterBy .filter-by-list {
  height: 100px;
  width: 150px;
  border: 1px solid white;
  position: absolute;
  left: 30%;
  top: 30px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  border-radius: 20px;
}
.filterBy .filter-by-list {
  height: 130px;
}

.searchBy .order-by-list ul, .filterBy .filter-by-list ul {
  list-style-type: none;
}
.searchBy .order-by-list ul li:hover,.filterBy .filter-by-list ul li:hover {
  transform: scale(1.5);
  cursor: pointer;
}




.movies-container {
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 100px 0;
  position: relative;

}

.movie {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin: 10px 20px;
  min-width: 400px;
  max-width: 400px;
  height: 600px;
  background: rgb(46, 58, 70);
  text-align: center;
  border-radius: 20px;
  transition: all 200ms ease-out;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
}

.movie .poster-img {
  height: 100%;
  border-radius: 20px;
}

.movie .flag-img {
  height: 30px;
  vertical-align: middle;
}

.movie .title {
  color: white;
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
}
.movie .original-title {
  color: grey;
  font-size: 10px;
}

.movie .year {
  color: grey;
  font-size: 15px;
}
.movie .language {
  color: grey;
  font-size: 15px;
  text-transform: uppercase;
}

.movie .description {
  padding: 20px;
  color: white;
  min-height: 30%;
  max-height: 30%;
  max-width: 400px;
  line-height: 30px;
  overflow: auto;
}

.details {
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.movie:hover .poster-img {
  display: none;
}
.movie:hover .details {
  display: flex;
}

.movie:hover {
  transform: scale(120%);
}

.searched {
  margin-top: 150px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-left: 8%;
}
