* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background: #11171d;
  min-height: 100vh;
  overflow-x: hidden;
}

.grey {
  color: #cecece;
}

.yellow {
  color: yellow;
}

.header-container {
  width: 85%;
  height: 70px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header {
  z-index: 5;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background: rgb(46, 58, 70);
}
header img {
  height: 100px;
  margin-top: 10px;
}

header .input-search {
  height: 40px;
  width: 10px;
  padding: 0 10px;
  font-style: italic;
  vertical-align: middle;
  background-color: inherit;
  color: white;
  font-size: 1.5rem;
  border: 0;
  transition: width 0.3s ease;
  
}


header .input-btn {
  vertical-align: middle;
  color: white;
  background-color: inherit;
  height: 40px;
  border: 0;
  cursor: pointer;
  position: absolute;
  left: 0;
  transition: transform 0.3s ease;
  
}
header .input-container {
  position:relative
}

header .input-container.active .input-search {
  width: 300px;

}
header .input-container.active .input-btn {
  transform: translateX(298px);
}

header .search,
.searchBy,
.filterBy {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  color: white;
}

header .searchBy,
header .filterBy {
  font-size: 1.5rem;
  gap: 10px;
  position: relative;
}

header .searchBy .arrow-down:hover,
header .filterBy .arrow-down:hover {
  transform: scale(1.12);
}

header .arrow-down {
  margin-left: 5px;
}

header .searchBy .order-by-list,
header .filterBy .filter-by-list {
  
  height: 250px;
  width: 150px;
  /* border: 1px solid white; */
  position: absolute;
  left: 30%;
  top: 30px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  border-radius: 20px;
}


header .searchBy .order-by-list ul,
header .filterBy .filter-by-list ul {
  list-style-type: none;
}
header .searchBy .order-by-list ul li:hover,
header .filterBy .filter-by-list ul li:hover {
  transform: scale(1.5);
  cursor: pointer;
}


header .filterBy.filter-genres ul{
  padding-left: 70px;
  height: 200px;
  width: 300px;
  display:flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y:scroll;
  transform: translateX(-20%);
  
  
}

.movies-container {
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 100px 0;
  position: relative;
}

.movie {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin: 10px 20px;
  min-width: 400px;
  max-width: 400px;
  height: 600px;
  background: rgb(46, 58, 70);
  text-align: center;
  border-radius: 20px;
  transition: all 200ms ease-out;
}

.container {
  background: #1e2d3b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.movie .poster-img {
  height: 100%;
  border-radius: 20px;
}

.movie .flag-img {
  height: 30px;
  vertical-align: middle;
}

.movie .title {
  color: white;
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
}
.movie .original-title {
  color: grey;
  font-size: 10px;
}

.movie .genres-list {
  margin-top: 10px;
  list-style-type: none;
}

.movie .genres {
  color:white;
  
}
.movie .genres span {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 600;
}

.movie .year {
  color: grey;
  font-size: 15px;
}
.movie .language {
  color: grey;
  font-size: 15px;
  text-transform: uppercase;
}

.movie .description {
  padding: 20px;
  color: white;
  min-height: 30%;
  max-height: 30%;
  max-width: 400px;
  line-height: 30px;
  overflow: auto;
}

.details,
.actor-details {
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.movie .actor-details img {
  max-width: 50%;
}

.movie:hover .poster-img {
  display: none;
}
.movie:hover .details,
.movie:hover .actor-details {
  display: flex;
}

.movie:hover {
  transform: scale(120%);
}

.searched {
  margin-top: 150px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-left: 8%;
}

/* !HIDDEN  */

.hamburger {
  display: none;
  color: white;
}

.hamburger:hover {
  cursor: pointer;
}

#hamburger-menu {
  transition: transform 0.3s ease-in;
  position: relative;
}

#hamburger-menu .hidden-search {
  border: 2px solid white;
  border-radius: 20px;
  height: 200px;
  width: 200px;
  position: absolute;
  right: 10%;
}

main {
  transition: transform 0.3s ease-in-out ;
  position: relative;
  z-index: 100;
  transform-origin: top left;

}

main.active {
  transform: rotate(10deg);
  
}

.hidden-search{
  display:none;
}

main.active .hidden-search {
  display:unset;
  padding: 0 20px;
  color: white;
  position: fixed;
  top: -200px;
  right: 0;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transform: rotate(-10deg);
  transform-origin: bottom left;
  
}

.hidden-search input {
  display:none
}

.hidden-search.active input {
  border: 0;
  padding: 0 10px;
  color: white;
  display: unset;
  font-size: 1.5rem;
  width: 250px;
  height: 50px;
  background-color: inherit;
  vertical-align: middle;
  font-style: italic;

  
}

.hidden-search.active .fa-search {
  position: relative;
  transform:translateX(250px)
}

.hidden-search.active .fa-times {
  position: relative;
  transform:translateX(-430px);
  vertical-align: middle;
}


.hidden-search i {
  margin-right: 30px;
  cursor: pointer;
  vertical-align: middle;
}

.hidden-search .hidden-order {
  position: relative;
  bottom: 50px;
  left: 100px;
  
}

.hidden-search.active .order, .hidden-search.active .filter {
  position: relative;
}
.hidden-search .order > ul, .hidden-search .filter > ul {
  position: absolute;
  top: 190px;
  font-size: 1rem;
  display: flex;
  gap: 20px;
  list-style-type:none;
}
.hidden-search .order > ul li:hover, .hidden-search .filter > ul li:hover {
  transform: scale(1.1) !important;
}

.hidden-search .filter > ul li{
  margin-left: -10px;
}





/* QUERIES */


@media screen and (max-width: 1300px) {
  .search {
    display: none !important;
  }
  .hamburger {
    display: unset;
  }
  .movie {
    min-width: 300px;
    max-width: 200px;
    height: 400px;
  }

  .searched {
    font-size: 1.3rem;
    align-self: center;
  }

  

  .movie img {
    object-fit: cover;
  }
}
