<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <script src="js/data.js"></script>
    <script defer src="js/main.js"></script>
    <title>BoolFlix</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" />
    <!-- VUE-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <!-- AXIOS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <main id="main">
      <div class="hidden-search">
        <i class ="fas fa-search fa-2x hamburger"></i>
        <i class ="fas fa-sort-alpha-up fa-2x hamburger"></i>
        <i class ="fas fa-filter fa-2x hamburger"></i>
        <i @click="closeHidden" class ="fas fa-times fa-2x hamburger"></i>
      </div>
      <header>
        
        <div class="header-container">
          <div><img src="css/img/logo.png" alt="logo" /></div>

          <!-- inizio contenitore di cerca/ordina per/filtra per -->
          <div class="mediaQuery">
            <div id ="hamburger-menu"> <i @click ="openHidden" id=openHidden class ="fas fa-bars fa-2x hamburger"></i> 
             
          <div class="search">

            <!-- inizio riquadro  ordina per -->
            <span @click ="orderByMenu = !orderByMenu" class="searchBy">Ordina per <i class="fas fa-sort-down arrow-down"></i>
            <div @mouseleave="orderByMenu = false" v-if ="orderByMenu" class="order-by-list">
              <ul>
                 <li @mouseenter ="orderBy = 'vote_average'">Rating</li>
                 <li @mouseenter ="orderBy = 'popularity'">Popularity</li>
                 <li @mouseenter ="orderBy = 'release_date'">Relase Date</li>
                 
              </ul>
            </div></span>
            <!-- fine riquadro ordina per -->

            <!-- inizio riquadro filtra per -->
            <span  @click ="filterByMenu = !filterByMenu" class="filterBy">Filtra per <i class="fas fa-sort-down arrow-down"></i>
            <div @mouseleave="filterByMenu = false" v-if ="filterByMenu"class="filter-by-list">

              <ul>
                 <li @click="currentSearch = item[1],getQueryMovies(currentSearch)" v-for="item in search">{{item[0]}}</li>
              </ul>

            </div></span>
            <!-- fine riquadro filtra per -->

            <!-- inizio riquadro input text -->
            <input
              @input = "getQueryMovies(currentSearch)"
              @keydown.enter="getQueryMovies(currentSearch)"
              class="input-search"
              v-model="input"
              :placeholder="'Cerca in '+ placeholder"
              type="search"
            />
          </div>
        </div>
      </header>

      <!-- fine header -->
        

      <!-- inizio contenuto -->
      <div class="container">
      <!-- info su cosa sta cercando e dove -->
      <div v-if ="hasSearched" class="searched">{{searchTitle}} in {{placeholder}}</div>
      <div v-else class="searched">{{searchTitle}}</div>

      <!-- inizio contenitore dei risultati  -->
      <div class="movies-container">
        <div :key="movie.id" v-for="movie in sortMovie" class="movie">
          
          <img  class ="poster-img"
            :src="'https://image.tmdb.org/t/p/w500/' + (movie.poster_path ? movie.poster_path : movie.profile_path)"
            @error="stockImage"
            alt="movie-poster"
          />

          <!-- inizio sezione attore -->
          <div class = actor-details v-if="movie.gender">
            <div class="title">{{movie.title ? movie.title : movie.name}}
            </div>

            <div class="year">Mostly known for:</div>
            <img v-if="movie.known_for[0]"
            
            :src="'https://image.tmdb.org/t/p/w500/' + (movie.known_for[0].poster_path)" alt="image-poster"
            @error="stockImage">
            
           <div class="description">{{movie.known_for[0] ? movie.known_for[0].overview : "non disponibile"}}</div>
          
          </div>

          <!-- fine sezione attore -->

          <!-- Inizio sezione movies -->
          <div v-if ="!movie.gender" class="details">
            <div class="title">{{movie.title ? movie.title : movie.name}}
            <div v-if="movie.title != movie.original_title" class="original-title"> Original title: {{movie.original_title}}</div>
            <div class="year">{{movie.release_date ? movie.relase_date : movie.first_air_date}}</div>
          </div>
          <div class="description">{{movie.overview}}</div>
          <div class="language">
            <img  class="flag-img" :src="flagSource(movie.original_language)" alt="logo">
             {{movie.original_language}}</></div>
          <div ><i v-for ="n in 5" :class="{yellow:  n <= voteTransform(movie.vote_average) }" class="fas fa-star fa-2x grey"></i>
          </div>
            
        </div>
        <!-- Fine sezione movies -->
        </div>

      </div>
      </div>
    </main>
  </body>
</html>
